.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo__link{
    display:block;
    width: rem(92px);
    height: rem(69px);
    margin-right:rem(50px);
    background:url(../img/header/logo.png) center center no-repeat;
}
.logo__name{
    display:none;
}